<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

### 01) WAP to print “Hello World”

In [1]:
print("Hello World")

Hello World

### 02) WAP to print addition of two numbers with and without using input().

In [19]:
number1 = int(input("enter 1st number"))
number2 = int(input("enter 2nd number"))
print("sum of two numbers is : " , number1+number2 , "(with using input)")
print("sum of 12234 and 1818181 is : ",12234+1818181 , "(without using input)")

sum of two numbers is :  3379240 (with using input)
sum of 12234 and 1818181 is :  1830415 (without using input)

### 03) WAP to check the type of the variable.

In [4]:
number_1 = 1234567890
print("Type of number is : ", type(number_1))

number_2 = "7762316161"
print("Type of number is : ", type(number_2))

Type of number is :  <class 'int'>
Type of number is :  <class 'str'>

### 04) WAP to calculate simple interest.

In [2]:
P = float(input("Enter the total principal amount :"))

R = float(input("Enter the rate of interest :"))

T = float(input("Enter the total time period in years :"))

SI = (P * R * T) / 100

print("principal amount is : ",P )
print("rate of interest is : ", R )
print("time period is : ", T )

print("Simple Interest is : ", SI)

principal amount is :  10000000.0
rate of interest is :  5.0
time period is :  3.0
Simple Interest is :  1500000.0

### 05) WAP to calculate area and perimeter of a circle.

In [ ]:
Radius = float(input("Enter the radius of the circle in meters :"))

print("Area of Circle is : ", (22/7)*Radius**2 ,"meters squre" )

print("Perimeter of Circle is : ", 2*(22/7)*Radius ,"meters" )

Area of Circle is :  1662.5714285714284 meters squre
Perimeter of Circle is :  144.57142857142856 meters

### 06) WAP to calculate area of a triangle.

In [5]:
H1 = float(input("enter the height of the triangle"))

B1 = float(input("enter the base of the triangle"))

Area = (1/2)*H1*B1

print("Area of the triangle is : ", Area, "squre meters")

Area of the triangle is :  25.0 squre meters

### 07) WAP to compute quotient and remainder.

In [9]:
Dividend = int(input(" enter the divident number : "))
Divisor = int(input(" enter the divisor number : "))

Quotient =int(Dividend / Divisor) 
Remainder = Dividend % Divisor
print("when we solve ",Dividend,"/",Divisor)
print("Quotient is : ", Quotient )
print("Remainder is : ", Remainder )

when we solve  4999 / 7
Quotient is :  714
Remainder is :  1

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [12]:

temp = float(input("Enter the temperature: "))
unit = input("Is it in Celsius (C) or Fahrenheit (F)? ").strip().upper()

if unit == "C":
    fahrenheit = (temp * 9/5) + 32
    print(temp, "°C is", round(fahrenheit, 2), "°F.")
elif unit == "F":
    celsius = (temp - 32) * 5/9
    print(temp, "°F is", round(celsius, 2), "°C.")
else:
    print("Invalid unit. Please enter 'C' for Celsius or 'F' for Fahrenheit.")

54.0 °C is 129.2 °F.

### 09) WAP to find the distance between two points in 2-D space.

In [ ]:
import math

x1, y1 = float(input("Enter x1: ")), float(input("Enter y1: "))
x2, y2 = float(input("Enter x2: ")), float(input("Enter y2: "))

distance = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)

print("The distance between the points is :", round(distance, 2))

### 10) WAP to print sum of n natural numbers.

In [ ]:
n= int(input("enter the nth natural number : "))

sum = (n*(n+1))/2

print("sum of first", n, "natural numbers is", sum)

sum of first 100 natural numbers is 5050.0

### 11) WAP to print sum of square of n natural numbers.

In [9]:
n = int(input("enter the nth natural number : "))

sum = (n*(n+1)*(2*n+1))/6

print("sum of the squares of first", n, "natural numbers is", sum)

sum of the squares of first 100 natural numbers is 338350.0

### 12) WAP to concate the first and last name of the student.

In [12]:
first_name = input("Enter the first name: ")
last_name = input("Enter the last name: ")

print(first_name + " " +last_name)

JAY PATEL

### 13) WAP to swap two numbers.

In [13]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# temp = num1
# num1 = num2
# num2 = temp


num1, num2 = num2, num1

print("After swapping, the numbers are: ", num1, "and", num2)

After swapping, the numbers are:  20 and 10

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [14]:

distance = int(input("Enter the total distance in kilometers : "))

print("The distance in meters is ", distance * 1000 ," meters")
print("The distance in centimeters is ", distance * 100000 ," centimeters")
print("The distance in millimeters is ", distance * 1000000 ," millimeters")
print("The distance in inches is ", distance * 39370 ," inches")
print("The distance in feet is ", distance * 3280.84 ," feet")
print("The distance in yards is ", distance * 1093.61 ," yards")
print("The distance in miles is ", distance * 0.621371 ," miles")

The distance in meters is  520000  meters
The distance in centimeters is  52000000  centimeters
The distance in millimeters is  520000000  millimeters
The distance in inches is  20472400  inches
The distance in feet is  1706036.8  feet
The distance in yards is  568677.2  yards
The distance in miles is  323.11292000000003  miles

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [17]:
day = int(input("Enter the day in dd format: "))
month = int(input("Enter the month in mm format: "))
year = int(input("Enter the year in yyyy format: "))

print("Date is : ", day, sep="", end="-")
print(month, year, sep="-")

Date is : 3-4-2005